<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryDTO">

	<select id="categorySelectAll" resultType="CategoryDTO">
		select ctnm, ctno
		from category
	</select>
	
	<select id="selectCTNM" resultType="CategoryDTO" parameterType="int">
		select ctnm, ctno
		from category
		where ctno = #{ctno}
	</select>
	
</mapper>