@charset "UTF-8";
	/* top */
	.home-icon{
		width: 35px;
		height: auto;
	}
	.home{
		position: absolute;
  		top: 25px;
  		left : 715px;
  		background-color : transparent;
  		border: none;
  		cursor:pointer;
	}
	.logo{
		position: absolute;
		top: 17px;
  		left : 1020px;
		width : 200px;
		height: auto;
		background-color : transparent;
  		border: none;
	}
	/* category */
	.category{
		position : absolute;
		top : 80px;
		left: 710px;
	}
	.category button{
		width: 160px;
		height: auto;
		background-color:  #f1f3f5;
		border : none;
		padding : 5px;
		border-radius: 10px;
		margin: 5px;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 20px;
		cursor: pointer;
	}
	/* menu */
	#menu{
		position : absolute;
		top: 190px;
		left: 720px;
	}
	.menu_info{
		width: 160px;
		height: 55px;
		text-align: center;
		word-break: break-all;
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 16px;
		background-color : #f1f3f5;
	}
	.menu_image{
		width: 170px;
		height: 170px;
	}
	/* carousel */
	.carousel{
		position: absolute; 
	}
	.carousel-indicators{
		top: 480px;
	}
	.carousel-control-prev{
		top: 490px;
		left: -30px;
	}
	.carousel-control-next{
		top: 490px;
		left: 460px;
	}
	/* cart */
	#cart{
		position: absolute;
		top: 710px;
		left : 725px;
		background-color: #f1f3f5;
		border: 1px solid;
		width: 325px;
		height: 195px;
		border-radius : 10px;
		z-index: -1;
	}
	/* pay & del */
	.Pay-Del{
		position: absolute;
		top: 710px;
		left: 1065px;
		font-family: 'Noto Sans KR',sans-serif;
		font-size: 20px;
	}
	#payment{
		width: 160px;
		height: 100px;
		border: 1px solid;
		border-radius: 10px;
		background-color: #f1f3f5; 
	}
	#delAll{
		margin-top : 15px;
		width: 160px;
		height: 80px;
		border: 1px solid;
		border-radius: 10px;
		background-color: #f1f3f5;
	}
	/* swal */
	.swal-styled.swal2-confirm{
		background-color: #6495ED;
	}