@charset "UTF-8";
	/* carousel */
	/* .carousel{
		position: absolute;
	}
	.carousel-indicators{
		top: 480px;
	}
	.carousel-control-prev{
		top: 490px;
		left: -30px;
	}
	.carousel-control-next{
		top: 490px;
		left: 460px;
	} */